.form {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  border: black 1px solid;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: rgb(250, 242, 230);
  margin-top: 30px;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
  /* margin-bottom: 30px; */
}

.label {
  display: block;
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  display: block;
  background-color: rgb(130, 233, 99);
  border: rgb(20, 20, 19) solid 2px;
  border-radius: 5px;
}

.list {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: rgb(20, 20, 19) solid 1px;

  padding: 0;
}

.listItem:not(:last-child) {
  border-bottom: 1px solid #000;
}
.listItem {
  padding-left: 20px;
  text-align: left;
}
.listItem:nth-child(even) {
  background-color: azure;
}
.listItem:nth-child(odd) {
  background-color: rgb(178, 231, 231);
}

.deleteButton {
  background-color: rgb(130, 233, 99);
  margin-right: 20px;
  margin-left: auto;
  display: inline-block;
}
